AddDefaultCharset UTF-8
DirectoryIndex bazon.php

RewriteEngine on
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]


<Files .htpasswd>
   deny from all
</Files>



